USE [master]
GO
/****** Object:  Database [Day6RubFor]    Script Date: 08.05.2026 4:02:00 ******/
CREATE DATABASE [Day6RubFor]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Day6RubFor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Day6RubFor]
GO
/****** Object:  Table [dbo].[Categoty]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoty](
	[IdCategory] [int] NOT NULL,
	[Category] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Categoty] PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EdIzm]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdIzm](
	[IdEdIzm] [int] NOT NULL,
	[EdIzm] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EdIzm] PRIMARY KEY CLUSTERED 
(
	[IdEdIzm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavshik]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavshik](
	[IdPost] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Postavshik] PRIMARY KEY CLUSTERED 
(
	[IdPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvoditel]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvoditel](
	[IdProizvod] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Proizvoditel] PRIMARY KEY CLUSTERED 
(
	[IdProizvod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PunktVidachi]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PunktVidachi](
	[IdPunkta] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Adres] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_PunktVidachi] PRIMARY KEY CLUSTERED 
(
	[IdPunkta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] NOT NULL,
	[Role] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SostavZakaz]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SostavZakaz](
	[IdTovar] [int] NOT NULL,
	[IdZakaz] [int] NOT NULL,
	[KolZakaz] [int] NOT NULL,
	[IdSostavZakaz] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SostavZakaz] PRIMARY KEY CLUSTERED 
(
	[IdSostavZakaz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[IdStatus] [int] NOT NULL,
	[Status] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar](
	[IdTovar] [int] NOT NULL,
	[Articul] [nvarchar](250) NOT NULL,
	[Money] [money] NOT NULL,
	[Opisanie] [nvarchar](250) NOT NULL,
	[IdEdIzm] [int] NOT NULL,
	[IdPost] [int] NOT NULL,
	[IdProizvod] [int] NOT NULL,
	[IdCategory] [int] NOT NULL,
	[Sale] [int] NOT NULL,
	[KolSklad] [int] NOT NULL,
	[Fhoto] [nvarchar](250) NULL,
	[NameTovar] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Tovar] PRIMARY KEY CLUSTERED 
(
	[IdTovar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] NOT NULL,
	[Login] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[IdRole] [int] NOT NULL,
	[FIO] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakaz]    Script Date: 08.05.2026 4:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakaz](
	[IdZakaz] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[Kod] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[IdAdres] [int] NOT NULL,
	[DateZakaz] [date] NOT NULL,
	[DateDostav] [date] NOT NULL,
 CONSTRAINT [PK_Zakaz] PRIMARY KEY CLUSTERED 
(
	[IdZakaz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categoty] ([IdCategory], [Category]) VALUES (1, N'Женская обувь')
INSERT [dbo].[Categoty] ([IdCategory], [Category]) VALUES (2, N'Мужская обувь')
GO
INSERT [dbo].[EdIzm] ([IdEdIzm], [EdIzm]) VALUES (1, N'шт')
GO
INSERT [dbo].[Postavshik] ([IdPost], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Postavshik] ([IdPost], [Name]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[Proizvoditel] ([IdProizvod], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Proizvoditel] ([IdProizvod], [Name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Proizvoditel] ([IdProizvod], [Name]) VALUES (3, N'Рос')
GO
INSERT [dbo].[PunktVidachi] ([IdPunkta], [Number], [Adres]) VALUES (1, 1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[PunktVidachi] ([IdPunkta], [Number], [Adres]) VALUES (2, 2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[PunktVidachi] ([IdPunkta], [Number], [Adres]) VALUES (3, 3, N'630370, г. Лесной, ул. Шоссейная, 24')
GO
INSERT [dbo].[Role] ([IdRole], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([IdRole], [Role]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([IdRole], [Role]) VALUES (3, N'Авторизированный клиент')
GO
SET IDENTITY_INSERT [dbo].[SostavZakaz] ON 

INSERT [dbo].[SostavZakaz] ([IdTovar], [IdZakaz], [KolZakaz], [IdSostavZakaz]) VALUES (1, 1, 2, 1)
INSERT [dbo].[SostavZakaz] ([IdTovar], [IdZakaz], [KolZakaz], [IdSostavZakaz]) VALUES (3, 2, 1, 2)
INSERT [dbo].[SostavZakaz] ([IdTovar], [IdZakaz], [KolZakaz], [IdSostavZakaz]) VALUES (5, 3, 10, 3)
SET IDENTITY_INSERT [dbo].[SostavZakaz] OFF
GO
INSERT [dbo].[Status] ([IdStatus], [Status]) VALUES (1, N'Завершен')
INSERT [dbo].[Status] ([IdStatus], [Status]) VALUES (2, N'Новый')
GO
INSERT [dbo].[Tovar] ([IdTovar], [Articul], [Money], [Opisanie], [IdEdIzm], [IdPost], [IdProizvod], [IdCategory], [Sale], [KolSklad], [Fhoto], [NameTovar]) VALUES (1, N'А112Т467333', 4990.0000, N'Женские Ботинки демисезонные kari6', 1, 1, 6, 2, 25, 6, N'1.jpg', N'Ботинок333')
INSERT [dbo].[Tovar] ([IdTovar], [Articul], [Money], [Opisanie], [IdEdIzm], [IdPost], [IdProizvod], [IdCategory], [Sale], [KolSklad], [Fhoto], [NameTovar]) VALUES (2, N'F635R4', 3244.0000, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', 1, 1, 2, 1, 2, 13, N'2.jpg', N'Ботинки236')
INSERT [dbo].[Tovar] ([IdTovar], [Articul], [Money], [Opisanie], [IdEdIzm], [IdPost], [IdProizvod], [IdCategory], [Sale], [KolSklad], [Fhoto], [NameTovar]) VALUES (3, N'H782T5', 4499.0000, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', 1, 2, 1, 2, 4, 5, N'3.jpg', N'Туфли1234')
GO
INSERT [dbo].[Users] ([IdUser], [Login], [Password], [IdRole], [FIO]) VALUES (1, N'111', N'111', 1, N'Никифорова Весения Николаевна')
INSERT [dbo].[Users] ([IdUser], [Login], [Password], [IdRole], [FIO]) VALUES (2, N'uth4iz@mail.com', N'2L6KZG', 1, N'Сазонов Руслан Германович')
INSERT [dbo].[Users] ([IdUser], [Login], [Password], [IdRole], [FIO]) VALUES (3, N'yzls62@outlook.com', N'JlFRCZ', 1, N'Одинцов Серафим Артёмович')
GO
INSERT [dbo].[Zakaz] ([IdZakaz], [IdUser], [Kod], [IdStatus], [IdAdres], [DateZakaz], [DateDostav]) VALUES (1, 4, 901, 1, 6, CAST(N'2025-02-28' AS Date), CAST(N'2025-04-30' AS Date))
INSERT [dbo].[Zakaz] ([IdZakaz], [IdUser], [Kod], [IdStatus], [IdAdres], [DateZakaz], [DateDostav]) VALUES (2, 1, 902, 1, 11, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date))
INSERT [dbo].[Zakaz] ([IdZakaz], [IdUser], [Kod], [IdStatus], [IdAdres], [DateZakaz], [DateDostav]) VALUES (3, 2, 903, 1, 2, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date))
GO
ALTER TABLE [dbo].[SostavZakaz]  WITH CHECK ADD  CONSTRAINT [FK_SostavZakaz_Tovar] FOREIGN KEY([IdTovar])
REFERENCES [dbo].[Tovar] ([IdTovar])
GO
ALTER TABLE [dbo].[SostavZakaz] CHECK CONSTRAINT [FK_SostavZakaz_Tovar]
GO
ALTER TABLE [dbo].[SostavZakaz]  WITH CHECK ADD  CONSTRAINT [FK_SostavZakaz_Zakaz] FOREIGN KEY([IdZakaz])
REFERENCES [dbo].[Zakaz] ([IdZakaz])
GO
ALTER TABLE [dbo].[SostavZakaz] CHECK CONSTRAINT [FK_SostavZakaz_Zakaz]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Categoty] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Categoty] ([IdCategory])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Categoty]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_EdIzm] FOREIGN KEY([IdEdIzm])
REFERENCES [dbo].[EdIzm] ([IdEdIzm])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_EdIzm]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Postavshik] FOREIGN KEY([IdPost])
REFERENCES [dbo].[Postavshik] ([IdPost])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Postavshik]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Proizvoditel] FOREIGN KEY([IdProizvod])
REFERENCES [dbo].[Proizvoditel] ([IdProizvod])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Proizvoditel]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_PunktVidachi] FOREIGN KEY([IdAdres])
REFERENCES [dbo].[PunktVidachi] ([IdPunkta])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_PunktVidachi]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([IdStatus])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Status]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Users]
GO
USE [master]
GO
